*{
    font-family: 'Star Jedi', sans-serif;
}

@font-face{
    font-family: Star Jedi;
    src: url("../css/starjedi/Starjedi.ttf");
}

html{
    
    width: 100%;
    height: 100%;
}

body{
    background: url("https://i.redd.it/mxvlfkj6tv301.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main{
    color: #FFF;    
}

#nivel_jogo{
    color: black;
}

.menu{
    padding: 5% 15%;
    text-align: center;
}
.play{
    cursor: pointer;
}